#about {
    text-align: center;
    background-color: #314e52;
    padding-bottom: 120px;
}

.about-img {
    height: 420px;
    margin-top: 140px;
}

.about-title {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #f2a154;
    font-size: 44px;
    margin-top:60px;
}

.about-content {
    text-align: left;
    font-family: "Lato", sans-serif;
    color: #f7f6e7;
    font-size: 22px;
}

@media screen and (max-width: 1080px) {
    .about-img {
        height: 660px;
        margin-top: 180px;
    }

    .about-title {
        font-size: 80px;
    }

    .about-content {
        font-size: 40px;
        padding: 20px;
    }
}