#about {
    height: 800px !important;
    text-align: center;
    background-color: #314e52;
}

.about-img {
    height: 420px;
    margin-top: 140px;
}

.about-title {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #f2a154;
    font-size: 44px;
    margin-top:60px;
}

.about-content {
    text-align: left;
    font-family: "Lato", sans-serif;
    color: #f7f6e7;
    font-size: 22px;
}

@media (max-width: 1080px) {
    #about {
        width: 1300px;
        height: 2800px !important;
    }

    .about-img {  
        height: 820px;
        margin-top: 140px;
    }

    .about-title {
        margin-top: 180px;
        font-size: 100px;
    }

    .about-content {
        margin-top: 40px;
        font-size: 45px;
        text-align: center;
    }
}