#contact {
    background-color: #314e52;
    text-align: center;
    padding-bottom: 175px;
}

.contact-title {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    color: #f2a154;
    font-size: 44px;
    padding-top:60px;
}

.contact-img {
    height: 180px;
}

.contact-us {
    margin-top: 32px;
    color: #f7f6e7;
    font-size: 22px;
}

.contact-details {
    text-align: left;
    margin-left: 168px;
    margin-top: 40px;
}

.detail {
    font-family: 'Lato', sans-serif;
    color: #f7f6e7;
    font-size: 18px;
    margin-top: 16px;
}

.contact-form {
    text-align: left;
    padding-right: 32px;
    font-family: 'Lato', sans-serif;
    color: #f7f6e7;
    font-size: 18px;
    margin-top: 16px;
}

.form-btn {
    background-color: #f2a154;
    border: none !important;
    font-weight: 500;
}

.form-btn:hover {
    background-color: #f7f6e7 !important;
    color: #f2a154;
    font-weight: 500;
}

.email-img {
    height: 160px;
    margin-top: 20px;
}

@media screen and (max-width: 1080px) {
    .contact-title {
        font-size: 80px;
        padding-top: 140px;
    }

    .contact-img {
        height: 240px;
        margin-top: 40px;
    }

    .contact-us {
        font-size: 40px;
    }

    .detail {
        font-size: 32px;
    }

    .contact-details {
        margin-left: 40px;
        margin-right: 28px;
    }

    .email-img {
        height: 240px;
        margin-top: 80px;
    }

    .contact-form {
        padding: 40px;
        font-size: 40px;
    }

    .form-input {
        font-size: 32px;
    }

    .form-group {
        margin-top: 20px;
    }

    .form-btn {
        font-size: 36px;
        margin-top: 40px;
    }
}