.navbar {
    background-color: transparent;
    justify-content: space-between;
    width: 100%;
    padding: 0 !important;
}

.navbar.active {
    background-color: #f2a154;
}

.navbar-brands.active {
    color: #fdf9c2 !important;
}

.navbar-brands.active:hover {
    color: #ffffff !important;
}

.navbar-brands:hover {
    color: #f57d0c !important;
}

.nav-link {
    color: #f5ad6a !important;
    font-weight: 600;
}

.nav-link.active {
    color: #fdf9c2 !important;
}

.nav-link.active:hover {
    color: #ffffff !important;
}

.nav-link:hover {
    color: #f57d0c !important; 
}

.navbar-brands {
    color: #f2a154 !important;
    font-family: 'Sora', sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 8px 0 0 16px;
}

.nav-links {
    display: flex;
    padding: 8px 24px 0 0 !important;
}

@media screen and (max-width:1080px) {

    .navbar-brand {
        font-size: 50px !important;
    }

    .nav-link {
        text-align: center;
        font-size: 32px;
    }
}