.navbar {
    background-color: transparent;
    justify-content: space-between;
    width: 100%;
    padding: 0 !important;
}

.navbar.active {
    background-color: #aaaaaa;
}

.navbar-brands.active {
    color: #f4f9f9 !important;
}

.navbar-brands.active:hover {
    color: #ccf2f4 !important;
}

.navbar-brands:hover {
    color: #ccf2f4 !important;
}

.nav-link {
    color: #f4f9f9 !important;
    font-weight: 600;
}

.nav-link.active {
    color: #f4f9f9 !important;
}

.nav-link.active:hover {
    color: #ccf2f4 !important;
}

.nav-link:hover {
    color: 
    #ccf2f4 !important; 
}

.nav-items {
    padding-right: 24px;
}

.navbar-brands {
    color: #f4f9f9 !important;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 32px;
    font-weight: bold;
    padding: 8px 0 0 16px;
}

.nav-links {
    display: flex;
    padding: 8px 24px 0 0 !important;
}

@media screen and (max-width:1080px) {

    .navbar-brand {
        font-size: 60px !important;
    }

    .nav-link {
        text-align: center;
        font-size: 32px;
    }

    .navbar-toggler-icon {
        height: 3em;
        width: 3em;
        color: #f4f9f9 !important;
    }

    .nav-toggle {
        margin-right: 16px;
    }
}