.service-img {
    height: 180px;
    max-width: 100%;
}

.service-img:hover {
    transform: rotate(8deg);
    transition: all 0.3s ease-in-out 0s;
}

.services-card {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-card {
    border-radius: 6px;
    background-color: #e6ebeb;
    text-align: center;
}

.service-card:hover {
    background-color: #99ecf5;
    box-shadow: 4px 4px 12px 6px rgba(96, 222, 236, 0.4);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out 0s;
}

.service-title {
    font-family: "Lato", sans-serif;
    color: #494949;
    font-weight: 500;
    font-size: 24px;
    padding-top: 8px;
}

.service-desc {
    font-family: "Lato", sans-serif;
    color: #f7f6e7;
    text-align: left;
    font-size: 18px;
}

@media screen and (max-width: 1080px) {
    .service-img {
        height: 300px;
    }

    .service-card {
        border-radius: 20px !important;
        padding: 20px;
    }

    .service-title {
        font-size: 60px;
    }

    .service-desc {
        font-size: 36px;
    }
}