#what {
    background-color: white;
    text-align: center;
    padding-bottom: 120px;
}

.what-title {
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    color: #314e52;
    font-size: 44px;
    padding-top: 80px;
}
