#what {
    background-color: white;
    text-align: center;
    padding-bottom: 120px;
}

.what-title {
    font-family: 'Karla', sans-serif;
    font-weight: bolder;
    color: #314e52;
    font-size: 44px;
    padding-top: 80px;
}

@media screen and (max-width: 1080px) {
    .what-title {
        font-size: 80px;
        margin-top: 120px;
    }

    .services {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}